@import "bootstrap";

footer {
    background-color: $gray-900;
    color: $gray-200;
    h6 {
        text-align: center;
    }


    a{
        color: $gray-400;
        text-decoration: none;
    };
    a:hover{
        color: $teal-400;
        text-decoration: none;
    };
};

div .card {
    img {
        
    }    
    
    background-color: $gray-200;

}